@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body,html{
  width: 100%;
  height: 100%;
  font-size: 15px;
  font-weight: 400;
  background-color: #1F2235;
  font-family: 'Poppins', sans-serif;
}
ul{
  list-style-type: none;
}

.navbar {
  
  box-shadow:  0 5px 15px rgba(0, 0, 0, 0.2);;
  background-color: transparent;
  /* height: 64px; */
  
}

.nav-header{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.btn-toggle{
  background: transparent;
  border: none;
  color: white;
  font-size: 30px;
  cursor: pointer;
  transition: all 3s linear;
}
.btn-toggle:hover{
  color: #ff4a57;
  transform: rotate(90deg);
}
.content{
  max-height: calc(100%-64px);
  
}
.logo{
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  color:#ff4a57;
}
a{
  text-decoration: none;
  color: white;
}
.links-container{
  height: 0px;
  transition: all 3s linear;
  overflow: hidden;
}
.links a{
  font-size: 15px;
  text-transform: uppercase;
  padding: 2rem 1rem;
  transition: all 3s linear;
  letter-spacing: 4px;
  color: white;
  font-weight: 600;
}
.link{
  margin-bottom:10px;
}
.links a:hover{
         color: #ff4a57;
         padding-left: 1.5rem;
}
.show-links{
  height: 8rem;
}

.welcome-section{
  max-width: 1300px ;
  margin: 0 auto;
  height: auto;
  padding: 1rem;
  margin-top: 80px;
}
.welcome-section h3{
  font-size: 25px;
  color: #ff4a57;
  text-transform: uppercase;
}
.welcome-section h1 {
        font-size: 40px;
        color: white;
        margin-top: 10px;
        margin-bottom: 10px;
}
.welcome-section p{
  color: white;
  line-height: 40px;
}
.social-icons{
  display: flex;
  margin-top: 20px;
}
.social{
  width: 30px;
  height: 30px;
  border: 1px solid white;
  border-radius: 50%;
  background-color: transparent;
  margin: 0 0.5rem;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-container{
  width: 90%;
  /* height: 90%; */
  /* border-radius: 50%; */
  margin: 0 auto;
  margin-top: 20px;

}
img{
  height: 100%;
  width:100% ;
  /* border-radius: 50%; */
  vertical-align: middle;
  border: 0;

}
.social a{
  color: white;
  transition: all 3s linear;
  font-size: 14px;
  margin-top: 3px;
}
.social-icons a:hover{
  background-color: white;
  color: black;
}
.sticky{
  position: sticky;
  top: 0;
  /* z-index: 10; */
}
.about{
  max-width: 1300px ;
  margin: 0 auto;
  height: auto;
  padding: 1rem;
  margin-top: 80px;
  color: white;
  line-height: 40px;
}
.about-image{
  width: 90%;
  /* height: 90%; */
  /* border-radius: 50%; */
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.about-text{
  margin-top: 15px;
}
.row{
  display: grid;
  grid-template-columns: auto 70%;
  gap: 1rem;
}
.btn{
  border: none;
  width: 120px;
  padding: 15px;
  background-color: #ff4a57;
  border-radius: 5px;
  margin-top: 12px;
}
.skills {
  max-width: 1300px ;
  margin: 0 auto;
  height: auto;
  padding: 1rem;
  margin-top: 80px;
  color: white;
}
.skills-title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;;
}
.skills h2,.portfolio-title h2,.contact h2{
  font-size: 42px;
}
.underline{
  border-bottom: 2px solid #ff4a57;
  width: 50px;
  text-align: center;
}
.icons{
  display: grid;
  grid-template-columns: auto;
  margin-top: 30px;
}
.icon{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.icon a{
  font-size: 15rem;
}
.icon h3{
  margin-top: -80px;
  font-weight: 700;
}
.portfolio-container {
  max-width: 1300px;
  margin: 0 auto;
  height: auto;
  padding: 1rem;
  margin-top: 80px;
  color: white;
  /* position: relative; */
}
.portfolio-title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
}

.projects{
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 30px;
  gap: 3rem;
  /* max-width: 90vw; */
  /* position: absolute; */
}
.card{
  height: 300px;
  max-width: 100%;
  /* padding: 60px; */
  margin-top: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  perspective: 1000px;
  background-color: transparent;
}

/* .card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: all 3s linear;
  transform-style: preserve-3d;
} */

.card:hover .card-front {
  opacity: 0;
 
}
.card:hover .card-back{
  opacity: 1;
  background-color: #ff4a57;
}


/* .card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
} */

.card-back {
  /* background-color: #ff4a57; */
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity:0;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: background 2s ease-out 100ms;
}
.card-front{
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: all 3s linear
}
.card-back h3{
       font-size: 15px;
       font-weight: 1000;
       text-transform: uppercase;
       letter-spacing: 5px;

}
.arrow{
  font-size: 45px;
  margin-top: 15px;
  font-weight: 200;
}

.contact{
  max-width: 1300px;
  margin: 0 auto;
  padding: 1rem;
  margin-top: 80px;
}
.contact-title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
}
form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 20px;
}
.inputs{
  display: grid;
  grid-template-rows: repeat(3,1fr);
  gap: 3rem ;
  width: 100%;
 
}
input{
  background-color: transparent;
  border: none;
  border: 1px solid white;
  height: 50px;
  outline: none;
  color: white;
  position: relative;
  width: 100%;
}
input:hover{
  border: 1px solid #ff4a57;
}
input[type='text'],input[type='email']{
  padding-left: 10px;
}

input::placeholder{
        left: 10px !important;
        margin-top: 18px !important;
        color: rgb(114, 113, 113);
        position: absolute;
}

textarea:focus{
  padding-top: 15px;
}
textarea{
  width: 100%;
  height: 250px;
  background-color: transparent;
  border: none;
  border: 1px solid white;
  color: white;
  outline: none;
  padding-left: 8px;
}
textarea:hover{
  border: 1px solid #ff4a57;
}
.submit{
  width: fit-content;
  padding: 20px;
  border-radius: 5px;
  background-color: #ff4a57;
  border: none;
  color: white;
  font-size: 15px;
  
  font-weight: 600;
}
.submit:hover{
  background-color: white;
  color: #ff4a57;
}
@media screen and (min-width:600px) {
          .about{
            display: grid;
            grid-template-columns: auto auto;
          }
          .icons{
            display: grid;
            grid-template-columns: auto auto auto;
            gap: 10rem;
          }
          .icon a{
            font-size: 10rem;
          }
          .icon h3{
            margin-top: -50px;
          }
          .projects{
            display: grid;
            grid-template-columns: repeat(2,1fr);
          }
          

}


@media screen and (min-width:800px) {
      .nav-center{
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        max-width: 1300px;
        margin:  0 auto;
      }
      .nav-header{
        padding: 0;
      }
      .links{
        display: flex;
        color: white;
      }
      .btn-toggle{
        display: none;
      }
      .links-container{
        height: auto !important;
        padding: 15px
      }
      .link a{
        /* padding: 0; */
        margin: 0 0.5rem;
        
        
      }
      .links a:hover {
        padding: 0;
        background: transparent;
      }
      .welcome-section{
        display: flex;
        justify-content: space-between;
      }
      .about{
        display: grid;
        grid-template-columns: auto auto;
        gap: 5rem;
      }
      .icons{
        display: grid;
        grid-template-columns: auto auto auto;
      }
      .icon a{
        font-size: 13rem;
      }
      .projects{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin-top: 30px;
      }
      .inputs{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 3rem ;
      }
      
}

@media screen and (min-width:999px) {
  
  .projects{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 30px;
  }
}