@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body,html{
  width: 100%;
  height: 100%;
  font-size: 15px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}
.dark-bg{
  background-color: #1F2235;
}
.light-bg{
  background-color: white;
  color: black;
}
.light-color{
  color: black;
}
.dark-color{
  color: white;
}
ul{
  list-style-type: none;
}
h3{
  font-size: 13px;
}
h1{
  font-size: 25px;
}
.nav-center{
  position: relative;
}

.navbar {
  position: sticky;
  z-index: 2;
  box-shadow:  0 5px 15px rgba(0, 0, 0, 0.2);;
  top: 0;
  
}

.nav-header{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.btn-toggle{
  background: transparent;
  border: none;
  font-size: 30px;
  cursor: pointer;
  outline: none;
  padding-right: 20px;
}
.btn-toggle:hover{
  color: #ff4a57;
  padding-right: 20px;
}

.toggle{
  position: absolute;
  top: 20px;
  right: -5px;
}
.content{
  max-height: calc(100%-64px);
}
.logo{
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  color:#ff4a57;
}
a{
  text-decoration: none;
}
.links-container{
  height: 0px;
  transition: all 3s linear;
  overflow: hidden;
}
.links a{
  font-size: 15px;
  text-transform: uppercase;
  padding: 2rem 1rem;
  transition: all 3s linear;
  letter-spacing: 4px;
  font-weight: 600;
  cursor: pointer;
}
.link{
  margin-bottom:10px;
}
.links a:hover{
         color: #ff4a57;
         padding-left: 1rem
}
.show-links{
  height: 12rem;
}

.welcome-section{
  max-width: 1300px ;
  margin: 0 auto;
  height: auto;
  padding: 1rem;
  margin-top: 80px;
}
.welcome-section h3{
  font-size: 25px;
  color: #ff4a57;
  text-transform: uppercase;
}
.welcome-section h1 { 
        margin-top: 10px;
        margin-bottom: 10px;
}
.welcome-section p{
  line-height: 40px;
}
.social-icons{
  display: flex;
  margin-top: 20px;
}

.social-light{
  border: 1px solid #ff4a57;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: transparent;
  margin: 0 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-dark{
  border: 1px solid white;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: transparent;
  margin: 0 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-dark:hover{
  background-color: white;
  color: black;
}
.social-light:hover{
  background-color: #ff4a57;
  color: white;
}
.social-dark a{
  font-size: 17px;
  margin-top: 3px;
  color: white;
  padding: 1rem;
}
.social-light a{
  font-size: 17px;
  margin-top: 3px;
  color: #ff4a57;
  padding: 1rem;
}
.social-dark a:hover{
  color: black;
}
.social-light a:hover{
  color: white;
}
.image-container{
  width: 90%;
  height: 75vmin;
  margin: 0 auto;
  margin-top: 20px;
}
img{
  height: 100%;
  width:100% ;
  vertical-align: middle;
  border: 0;
}

.about{
  max-width: 1300px ;
  margin: 0 auto;
  height: auto;
  padding: 1rem;
  margin-top: 80px;
    line-height: 40px;
    box-shadow:  0 0 15px rgba(0, 0, 0, 0.2);;
}
.about-image{
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.about-text{
  margin-top: 15px;
}
.row{
  display: grid;
  grid-template-columns: auto 70%;
  gap: 1rem;
}
.btn{
  border: none;
  width: 120px;
  padding: 15px;
  background-color: #ff4a57;
  border-radius: 5px;
  margin-top: 15px;
}
.btn a{
  color: white;
}
.other-color{
  color: #ff4a57;
}
.skills {
  max-width: 1300px ;
  margin: 0 auto;
  height: auto;
  padding: 1rem;
  margin-top: 80px;
  box-shadow:  0 0 15px rgba(0, 0, 0, 0.2)
  
}
.skills-title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;;
}
.skills h3{
  letter-spacing: 5px;
  font-size: 15px;
  font-weight: 500;
}
.skills h2,.portfolio-title h2,.contact h2{
  font-size: 25px;
}
.skills h2 span,.portfolio-title h2 span,.contact h2 span{
  color: #ff4a57;
  margin-left: 7px;
}
.underline{
  border-bottom: 2px solid #ff4a57;
  width: 50px;
  text-align: center;
}
.icons{
  display: grid;
  grid-template-columns: auto;
  margin-top: 30px;
}
.icon{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
}
.icon article{
  font-size: 8rem;
}
.icon h3{
  margin-top: -5px;
  font-weight: 700;
}
.portfolio-container {
  max-width: 1300px;
  margin: 0 auto;
  height: auto;
  padding: 1rem;
  margin-top: 80px;
  padding-bottom: 20px;
  box-shadow:  0 0 15px rgba(0, 0, 0, 0.2)
}
.portfolio-title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
}

.projects{
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 30px;
  gap: 3rem;
 
}
.card{
  height: 300px;
  max-width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  perspective: 1000px;
  background-color: transparent;
}



.card:hover .card-front {
  opacity: 0;
 
}
.card:hover .card-back{
  opacity: 1;
  background-color: #ff4a57;
}


.card-back {

  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity:0;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: background 2s ease-out 100ms;
}
.card-front{
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: all 3s linear;
}
.card-back h3{
       font-size: 15px;
       font-weight: 1000;
       text-transform: uppercase;
       letter-spacing: 5px;

}
.arrow{
  font-size: 45px;
  margin-top: 15px;
  font-weight: 200;
  color: white;
}

.contact{
  max-width: 1300px;
  margin: 0 auto;
  padding: 1rem;
  margin-top: 80px;
  position: relative;
  box-shadow:  0 0 15px rgba(0, 0, 0, 0.2)
}
.contact-title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
}
form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 20px;
}
.inputs{
  width: 100%;
}
input{
  background-color: transparent;
  border: none;
  height: 50px;
  outline: none;
  position: relative;
  width: 100%;
  margin-bottom: 12px;
}
.border-light{
   border: 1px solid rgb(114, 113, 113);
}
.border-dark{
     border: 1px solid white;
}
input:hover{
  border: 1px solid #ff4a57;
}
input[type='text'],input[type='email'],input[type='number']{
  padding-left: 10px;
}
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input::placeholder{
        left: 10px !important;
        margin-top: 18px !important;
        color: rgb(114, 113, 113);
        position: absolute;
}

textarea:focus{
  padding-top: 15px;
}
textarea{
  width: 100%;
  height: 250px;
  background-color: transparent;
  border: none;
  outline: none;
  padding-left: 8px;
}
textarea:hover{
  border: 1px solid #ff4a57;
}
.submit{
  width: fit-content;
  padding: 20px;
  border-radius: 5px;
  background-color: #ff4a57;
  border: none;
  color: white;
  font-size: 15px;
  
  font-weight: 600;
}
.submit:hover{
  background-color: white;
  color: #ff4a57;
}
.light{
  background: none;
  border: none;
  color: white;
  font-size: 30px;
  cursor: pointer;
  outline: none;
  padding-right: 10px;
  
}
.dark{
  background: none;
  border: none;
  color: #1F2235;
  font-size: 30px;
  cursor: pointer;
  outline: none;
  padding-right: 10px;
  
}
.light:hover,.dark:hover{
  color: #ff4a57;
}
.btn-container{
  display: flex;
}
.overlay {
  position: fixed;
  /* display: none; */
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

#text{
  position: absolute;
  top: 60%;
  left: 50%;
  color: grey;
  width: 90vw;
  height: 300px ;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 20px;
  background-color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  z-index: 9;
  position: relative;
}
.cancel{
  position:absolute;
  top: 10px;
  right:10px;
}

@media screen and (min-width:600px) {
          .about{
            display: grid;
            grid-template-columns: auto auto;
          }
          .icons{
            display: grid;
            grid-template-columns: auto auto auto;
            gap: 10rem;
          }
          .icon article{
            font-size: 13rem;
          }
          .icon h3{
            margin-top: -20px;
          }
          .projects{
            display: grid;
            grid-template-columns: repeat(2,1fr);
          }
          h1{
            font-size: 30px;
          }
          .skills h2,.portfolio-title h2,.contact h2{
            font-size: 30px;
          }
          .image-container{
            margin-top: 20px;
          }

}


@media screen and (min-width:800px) {
      .nav-center{
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        max-width: 1300px;
        margin:  0 auto;
      }
      h1{
        font-size: 40px;
      }
      .skills h2,.portfolio-title h2,.contact h2{
        font-size: 42px;
      }
      .nav-header{
        padding: 0;
      }
      .links{
        display: flex;
        color: white;
      }
      .btn-toggle{
        display: none;
      }
      .links-container{
        height: auto !important;
        padding: 15px
      }
      .link a{
        /* padding: 0; */
        margin: 0 0.5rem;
      }
      .links a:hover {
        padding: 0;
        background: transparent;
      }
      .welcome-section{
        display: flex;
        justify-content: space-between;
      }
      .about{
        display: grid;
        grid-template-columns: auto auto;
        gap: 5rem;
      }
      .icons{
        display: grid;
        grid-template-columns: auto auto auto;
      }
      .icon a{
        font-size: 10rem;
      }
      .projects{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin-top: 30px;
      }
      .inputs{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 3rem ;
      }
      input{
        margin-bottom: 0;
      }
      .image-container{
        margin-top: -80px;
      }
      .toggle{
        position: absolute;
        top: 22px;
        right: 0;
      }
      
}

@media screen and (min-width:999px) {
  
  .projects{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 30px;
  }
}